.page { -fx-padding: 24; -background-color: #f0f1f5;}
.page-title { -fx-font-size: 28px; -fx-font-weight: bold; }

.weekday-header {
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.date-cell {
    -fx-padding: 6;
    -fx-border-color: lightgray;
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-background-radius: 10;
}

.date-cell:hover {
    -fx-background-color: -fx-control-inner-background;
}

.date-cell.today {
    -fx-border-color: -fx-accent;
    -fx-border-width: 2;
    -fx-border-radius: 12;
}

.date-cell.selected {
    -fx-background-color: derive(-fx-accent, 60%);
}

.date-cell.other-month {
    -fx-opacity: 0.45;
}

.month-title {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.main-contents {
    -fx-padding: 10;
    -fx-alignment: top-center;
}

.button {
    -fx-padding: 10;
    -fx-background-color: #dce7ff;
    -fx-border-color: #b2caff;
    -fx-border-width: 2 2 2 2;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-pref-width: 150;
}

.button:hover{
    -fx-background-color: #edf3ff;
    -fx-border-color: #bccef7;
}

.button:active{
    -fx-background-color: #99a3ba;
    -fx-border-color: #748cc2;
}


#header-vbox {
    -fx-padding: 10;
    -fx-background-color: #e8effe;
    -fx-border-color: #ceddf8;
    -fx-border-width: 0 0 1 0;
}

#calendar-grid {
    -fx-padding: 20;
}

#calendar-buttons{
    -alignment: CENTER;
    -spacing: 10;
    -fx-padding: 20;
}